<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p><a href="#">Home</a>
    <a href="/google/logout">Logout</a>
    <p>Welcome back! You have logged in before :)</p> -->
    <div id="container">
        <h1>Welcome to WTCal</h1>
        <h3>To sync your Google Calendar, log in with Google below</h3>
        <a href="/google/login"><img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png"></a>
    </div>
</body>
</html>